<h3>Editar Categoria</h3>

<div class="card">
    <div class="card-body">
        {{#each texto}}
            {{texton}}
            <br>
            {{textos}}
            <br>
            {{textonp}}
        {{/each}}
        {{#each categoria}}
        <form action="/admin/categorias" method="post">
        <input type="hidden" name="id" value="{{_id}}">
            <label for="nome">Nome: </label>
            <input type="text" id="nome" name="nome" value="{{nome}}" placeholder="nome da categoria" class="form-control">
            <label for="slog">Slog: </label>
            <input type="text" id="slog" name="slog" value="{{slog}}" placeholder="slog"class="form-control">
            <br>
            <button type="submit" class="btn btn-success">salvar edição</button> 
            <a href="/admin/categorias" class="btn btn-danger">Cancelar</a>
            
        </form>
        {{/each}}
    </div>
</div>
    